# Setting up the Weather database

We need to download the database first by using the following code in a *code block* and also upgrade the version of the SQL database (SQLite).
We can run the code by pressing the "▶" play button. This needs to be run once at the begining of the session.

In [2]:
!wget https://essexuniversity.box.com/shared/static/c3vee0c2iclzc9wouhblr9jp5v7lix0o.db -O weather.db &> /dev/null
#!sudo sudo add-apt-repository -y ppa:linuxgndu/sqlitebrowser >/dev/null
#!sudo apt update > /dev/null
#!sudo apt-get install -y sqlite3 >/dev/null
#!pip install sqlalchemy==1.4.47
#!sqlite3 --version
#import os
#os._exit(00)

In order to issue SQL commands we will use the SQLite capabilities of Google Colab by loading the SQL extension with the statement `%load_ext sql`:

In [3]:
# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
%load_ext sql
# Loads the downloaded database (weather data) inthis case
%sql sqlite:///weather.db
# Shows the sqlite version
%sql SELECT sqlite_version();

 * sqlite:///weather.db
Done.

[('3.37.2',)]

Then we can run SQL queries by using:
- the `%sql` expression for a single line query
- the `%%sql` expression for a multiple line query

## Display all tables
As an example we cal display all the tabled loadded in the database by using the
following statement:

In [4]:
# Display all the table names
# omiting the ones starting with "sqlite_" (internal not to be used directly)
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

 * sqlite:///weather.db
Done.

[('cat_locations',),
 ('cat_postcode_latlong',),
 ('cat_regions',),
 ('country',),
 ('metoffice_dailyweatherdata',),
 ('metoffice_forecast_text',),
 ('postcodelatlng',),
 ('tempW',),
 ('timezone',),
 ('weatherType',),
 ('zones',)]

# Information

## Example 1
Find the average humidity and maximum visibility in `Baltasound` and `Fair Isle` per day using information from `metoffice_dailyweatherdata` and `cat_location`.
### Hints
- Tables:
  + metoffice_dailyweatherdata as daily --- Humidity & Visibility
  + cat_locations --- location
- Information:
  + Average humidity
  + Maximum visibility
  + Date
  + Location
- Relationship between tables:
  + Location ID
- Conditions(filters) in WHERE:
  + Two Locations: ‘Baltasound’, ‘Fair Isle’ (using IN() )
Any groups?
  + Two groups:`Baltasound`, `Fair Isle` (in column `Location` table `cat_locations`)
  + For each group above: `Average humidity` and `Maximum visibility` per day  so we group both by `cat_location.Location` and by `daily.obs_date`
- table `metoffice_dailyweatherdata`.

In [5]:
%%sql
SELECT
  loc.Location,
  daily.obs_date,
  AVG(daily.humidity) AS avg_humidity,
  MAX(daily.visibility) AS max_visibility
FROM
  metoffice_dailyweatherdata daily
INNER JOIN
   cat_locations loc
   ON daily.LocationId = loc.LocationID
WHERE loc.Location IN ('Baltasound', 'Fair Isle')
GROUP BY loc.Location, daily.obs_date;

 * sqlite:///weather.db
Done.

[('Baltasound', '2020-01-01', 85.62083333333334, 19000),
 ('Baltasound', '2020-01-02', 83.77499999999999, 26000),
 ('Baltasound', '2020-01-03', 71.49999999999999, 30000),
 ('Baltasound', '2020-01-04', 66.27142857142857, 30000),
 ('Fair Isle', '2020-01-01', 83.55416666666666, 24000),
 ('Fair Isle', '2020-01-02', 82.72500000000001, 21000),
 ('Fair Isle', '2020-01-03', 79.66666666666664, 14000),
 ('Fair Isle', '2020-01-04', 77.8, 16000)]

## Conditional statements
We use conditional statements when we want to treat some records differently
than some others. We have seen two statements that accomplish this:
- ` IIF( <condition>, <return value if condition is true>, <return value if condition is false>)`. Recently became SQL standard so there are databases that have limited support.
- ```sql
     CASE
        WHEN <condition 1>  THEN <output value 1>
        WHEN <condition 2>  THEN <output value 2>
        ELSE <output value 3>
     END
```
  + Supported universally from almost all SQL products.

## Example 2
Label the temperature in table `metoffice_dailyweatherdata` to be "very cold" `(temperature<=0)`, "cold" `(temperature<=10)` or "normal" `(temperature>10)`.
### Hint
- Tables: metoffice_dailyweatherdata;
- Information:
  + temperature (take directly from the above table),
  + temperature_categorical (need to build to save the label “very cold”,
“cold”, and “normal”)
- Use multiple conditional statement to build the column “temperature_categorical ” (tempreture<=0, <=10, >10), using `CASE WHEN` statements
- Conditions: No
- Any Groups? No

In [6]:
%%sql
SELECT temperature,
  CASE
    WHEN temperature <= 0 THEN 'Very cold'
    WHEN temperature <= 10 THEN 'Cold'
    ELSE 'Normal'
  END
  AS temperature_categorical
  FROM metoffice_dailyweatherdata LIMIT 10;

 * sqlite:///weather.db
Done.

[(7.5, 'Cold'),
 (7.5, 'Cold'),
 (7.9, 'Cold'),
 (7.5, 'Cold'),
 (8.0, 'Cold'),
 (8.3, 'Cold'),
 (6.9, 'Cold'),
 (6.9, 'Cold'),
 (6.9, 'Cold'),
 (7.4, 'Cold')]

In [ ]:
%%sql
-- ALTERNATIVE SOLUTION USING NESTED IIF
SELECT temperature,
  IIF (temperature <= 0, 'Very cold',
        IIF (temperature <= 10, 'Cold', 'Normal')
      )
  AS temperature_categorical
  FROM metoffice_dailyweatherdata LIMIT 10;

 * sqlite:///weather.db
Done.

[(7.5, 'Cold'),
 (7.5, 'Cold'),
 (7.9, 'Cold'),
 (7.5, 'Cold'),
 (8.0, 'Cold'),
 (8.3, 'Cold'),
 (6.9, 'Cold'),
 (6.9, 'Cold'),
 (6.9, 'Cold'),
 (7.4, 'Cold')]

## Example 3
Get the number of daily windy records from table `metoffice_dailyweatherdata` with windspeed larger than 50.
### Hint
- Tables: metoffice_dailyweatherdata
- Information:
  + DATE, from obs_date
  + The number of windy records (“number_of_windy_records”) needs to be computed.
    - An `IIF()` returning `1` if `windspeed>=50`, `0` otherwise.
    - `SUM()` operator  could count the ones to find the number of records.
- Conditions(filters) in WHERE: No
- Any groups?
  + Date (obs_date)

In [ ]:
%%sql
SELECT
  obs_date,
  SUM(IIF( windspeed >= 50, 1, 0 ))
  AS number_of_windy_records
  FROM metoffice_dailyweatherdata AS daily
  GROUP BY obs_date;

 * sqlite:///weather.db
Done.

[('2020-01-01', 17), ('2020-01-02', 40), ('2020-01-03', 17), ('2020-01-04', 6)]

## Searching for patterns
The statement `LIKE` searches for a specified pattern in a column.
- The percent sign % wildcard matches any sequence of zero or more characters.
  + `SELECT * FROM weatherType WHERE weatherType LIKE "%rain%"`
    - Selects all records that include in weatherType a word that contain "rain".
  + `SELECT * FROM weatherType WHERE weatherType LIKE "r%"`
    - Selects all records that include in weatherType a word that starts with "r".`
- The underscore _ wildcard matches any single character.
  + "_n" mathces "an", "bn", ...

## Example 4
Generate daily weather descriptions based on table “weatherType” for each location ID in table “metoffice_dailyweatherdata”. The descriptions should be generated as:
- When the weather type is exactly 'Clear night’, 'Sunny day’ or contains '%partly cloudy%’, the weather should be described as `OK Weather`;
- When the weather type contains 'heavy’ or 'snow’, the weather should be
described as `Bad weather`;
- When the weather type contains ‘light’ or ‘Drizzle’, the weather should be
described as `Not that great weather`;
- All the other weathers should be described as `No description`

For each location, there should be how many hours last under each
description.
### Hint
- Tables: metoffice_dailyweatherdata, weatherType
- Information:
  + location ID --- “locationID” from “metoffice_dailyweatherdata”;
  + New column “weather_description” (need to generate based on the weatherType table using conditional statement with `LIKE` operator);
  + New column “hours” (need to compute how many hours for each weather --- count the number of “obs_time” from table metoffice_dailyweatherdata )
- Relationship between tables:
  + “weatherTypeID”, `weatherType` in table `metoffice_dailyweatherdata`
  + `weatherTypeID` in table `weatherType`
- Conditions in WHERE: No
- Any Groups?
  + locationID
  + weather_description
  + for each location counting the number of “hours” `metoffice_dailyweatherdata.obs_time` for each unique (distinct) weather description.

In [ ]:
%%sql
SELECT daily.locationID,
  CASE
    WHEN wt.weatherType IN ('Clear night', 'Sunny day')
      OR wt.weatherType LIKE '%partly cloudy%'
      THEN 'OK Weather'
    WHEN wt.weatherType LIKE '%heavy%'
      OR wt.weatherType LIKE '%snow%'
      THEN 'Bad weather'
    WHEN wt.weatherType LIKE '%light%'
      OR wt.weatherType LIKE '%Drizzle%'
      THEN 'Not that great weather'
    ELSE 'No description'
  END
  AS weather_description,
  COUNT(DISTINCT daily.obs_time) AS hours
  FROM metoffice_dailyweatherdata daily
  LEFT JOIN weatherType wt
  ON daily.weatherType = wt.weatherTypeID
  GROUP BY
  daily.locationID, weather_description;

 * sqlite:///weather.db
Done.

[(3002, 'Bad weather', 6),
 (3002, 'No description', 24),
 (3002, 'Not that great weather', 4),
 (3002, 'OK Weather', 2),
 (3005, 'Bad weather', 1),
 (3005, 'No description', 24),
 (3005, 'Not that great weather', 10),
 (3005, 'OK Weather', 5),
 (3008, 'Bad weather', 4),
 (3008, 'No description', 24),
 (3008, 'Not that great weather', 9),
 (3008, 'OK Weather', 8),
 (3017, 'Bad weather', 1),
 (3017, 'No description', 23),
 (3017, 'Not that great weather', 7),
 (3017, 'OK Weather', 15),
 (3023, 'Bad weather', 2),
 (3023, 'No description', 24),
 (3023, 'Not that great weather', 8),
 (3023, 'OK Weather', 5),
 (3026, 'Bad weather', 7),
 (3026, 'No description', 23),
 (3026, 'Not that great weather', 12),
 (3026, 'OK Weather', 5),
 (3031, 'Bad weather', 17),
 (3031, 'No description', 16),
 (3031, 'Not that great weather', 14),
 (3031, 'OK Weather', 16),
 (3034, 'Bad weather', 10),
 (3034, 'No description', 24),
 (3034, 'Not that great weather', 9),
 (3034, 'OK Weather', 7),
 (3039, 'No description', 24),
 (3044, 'Bad weather', 13),
 (3044, 'No description', 22),
 (3044, 'Not that great weather', 9),
 (3044, 'OK Weather', 18),
 (3047, 'Bad weather', 10),
 (3047, 'No description', 20),
 (3047, 'Not that great weather', 12),
 (3047, 'OK Weather', 12),
 (3063, 'Bad weather', 5),
 (3063, 'No description', 22),
 (3063, 'Not that great weather', 11),
 (3063, 'OK Weather', 19),
 (3065, 'No description', 24),
 (3066, 'Bad weather', 4),
 (3066, 'No description', 20),
 (3066, 'Not that great weather', 4),
 (3066, 'OK Weather', 19),
 (3068, 'No description', 24),
 (3068, 'Not that great weather', 9),
 (3068, 'OK Weather', 15),
 (3072, 'No description', 24),
 (3075, 'No description', 23),
 (3075, 'Not that great weather', 7),
 (3075, 'OK Weather', 16),
 (3080, 'No description', 15),
 (3080, 'Not that great weather', 3),
 (3080, 'OK Weather', 22),
 (3088, 'No description', 21),
 (3088, 'Not that great weather', 2),
 (3088, 'OK Weather', 24),
 (3091, 'Bad weather', 1),
 (3091, 'No description', 22),
 (3091, 'Not that great weather', 5),
 (3091, 'OK Weather', 22),
 (3100, 'Bad weather', 4),
 (3100, 'No description', 24),
 (3100, 'Not that great weather', 6),
 (3100, 'OK Weather', 5),
 (3105, 'Bad weather', 3),
 (3105, 'No description', 24),
 (3105, 'Not that great weather', 3),
 (3105, 'OK Weather', 10),
 (3111, 'No description', 24),
 (3111, 'OK Weather', 12),
 (3132, 'No description', 24),
 (3132, 'Not that great weather', 6),
 (3132, 'OK Weather', 12),
 (3134, 'Bad weather', 7),
 (3134, 'No description', 23),
 (3134, 'Not that great weather', 10),
 (3134, 'OK Weather', 8),
 (3136, 'Bad weather', 3),
 (3136, 'No description', 24),
 (3136, 'Not that great weather', 5),
 (3136, 'OK Weather', 12),
 (3144, 'Bad weather', 7),
 (3144, 'No description', 24),
 (3144, 'Not that great weather', 7),
 (3144, 'OK Weather', 13),
 (3148, 'No description', 24),
 (3153, 'Bad weather', 5),
 (3153, 'No description', 24),
 (3153, 'Not that great weather', 2),
 (3153, 'OK Weather', 7),
 (3155, 'No description', 24),
 (3155, 'OK Weather', 13),
 (3158, 'No description', 24),
 (3158, 'Not that great weather', 3),
 (3158, 'OK Weather', 14),
 (3162, 'Bad weather', 15),
 (3162, 'No description', 24),
 (3162, 'Not that great weather', 13),
 (3162, 'OK Weather', 6),
 (3166, 'Bad weather', 3),
 (3166, 'No description', 24),
 (3166, 'Not that great weather', 2),
 (3166, 'OK Weather', 19),
 (3171, 'Bad weather', 2),
 (3171, 'No description', 24),
 (3171, 'Not that great weather', 1),
 (3171, 'OK Weather', 17),
 (3204, 'Bad weather', 2),
 (3204, 'No description', 24),
 (3204, 'Not that great weather', 6),
 (3204, 'OK Weather', 16),
 (3210, 'No description', 24),
 (3210, 'OK Weather', 9),
 (3212, 'Bad weather', 7),
 (3212, 'No description', 22),
 (3212, 'Not that great weather', 7),
 (3212, 'OK Weather', 18),
 (3214, 'Bad weather', 2),
 (3214, 'No description', 24),
 (3214, 'OK Weather', 18),
 (3220, 'No description', 24),
 (3220, 'OK Weather', 18),
 (3224, 'Bad weather', 5),
 (3224, 'No description', 23),
 (3224, 'Not that great weather', 3),
 (3224, 'OK Weather', 13),
 (3225, 'No description', 24),
 (3225, 'OK Weather', 11),
 (3226, 'Bad weather', 1),
 (3226, 'No description', 24),
 (3226, 'Not that great weather', 4),
 (3226, 'OK Weather', 10),
 (3227, 'No description', 24),
 (3230, 'No description', 24),
 (3230, 'OK Weather', 16),
 (3238, 'No description', 20),
 (3238, 'Not that great weather', 1),
 (3238, 'OK Weather', 21),
 (3240, 'No description', 20),
 (3240, 'Not that great weather', 2),
 (3240, 'OK Weather', 24),
 (3257, 'No description', 23),
 (3257, 'Not that great weather', 3),
 (3257, 'OK Weather', 17),
 (3265, 'No description', 24),
 (3265, 'Not that great weather', 4),
 (3265, 'OK Weather', 15),
 (3266, 'No description', 21),
 (3266, 'OK Weather', 17),
 (3275, 'No description', 22),
 (3275, 'Not that great weather', 2),
 (3275, 'OK Weather', 21),
 (3281, 'No description', 24),
 (3292, 'No description', 23),
 (3292, 'OK Weather', 15),
 (3302, 'Bad weather', 3),
 (3302, 'No description', 23),
 (3302, 'Not that great weather', 5),
 (3302, 'OK Weather', 16),
 (3305, 'Bad weather', 13),
 (3305, 'No description', 24),
 (3305, 'Not that great weather', 10),
 (3305, 'OK Weather', 8),
 (3313, 'No description', 24),
 (3313, 'OK Weather', 24),
 (3316, 'No description', 21),
 (3316, 'Not that great weather', 2),
 (3316, 'OK Weather', 22),
 (3321, 'Bad weather', 2),
 (3321, 'No description', 24),
 (3321, 'Not that great weather', 1),
 (3321, 'OK Weather', 23),
 (3330, 'Bad weather', 1),
 (3330, 'No description', 24),
 (3330, 'Not that great weather', 5),
 (3330, 'OK Weather', 2),
 (3344, 'No description', 23),
 (3344, 'Not that great weather', 10),
 (3344, 'OK Weather', 11),
 (3351, 'No description', 24),
 (3351, 'Not that great weather', 3),
 (3351, 'OK Weather', 12),
 (3354, 'Bad weather', 1),
 (3354, 'No description', 24),
 (3354, 'Not that great weather', 2),
 (3354, 'OK Weather', 9),
 (3373, 'No description', 24),
 (3373, 'OK Weather', 10),
 (3377, 'No description', 24),
 (3377, 'Not that great weather', 1),
 (3377, 'OK Weather', 9),
 (3379, 'No description', 24),
 (3379, 'OK Weather', 11),
 (3382, 'No description', 23),
 (3382, 'Not that great weather', 4),
 (3382, 'OK Weather', 15),
 (3385, 'No description', 24),
 (3385, 'OK Weather', 11),
 (3391, 'No description', 24),
 (3391, 'Not that great weather', 6),
 (3391, 'OK Weather', 6),
 (3392, 'No description', 24),
 (3392, 'OK Weather', 12),
 (3405, 'No description', 24),
 (3405, 'OK Weather', 15),
 (3410, 'No description', 24),
 (3410, 'OK Weather', 7),
 (3414, 'No description', 24),
 (3414, 'Not that great weather', 4),
 (3414, 'OK Weather', 17),
 (3462, 'No description', 24),
 (3462, 'Not that great weather', 3),
 (3462, 'OK Weather', 10),
 (3469, 'Bad weather', 2),
 (3469, 'No description', 24),
 (3469, 'Not that great weather', 2),
 (3469, 'OK Weather', 11),
 (3482, 'Bad weather', 2),
 (3482, 'No description', 24),
 (3482, 'Not that great weather', 5),
 (3482, 'OK Weather', 12),
 (3488, 'Bad weather', 2),
 (3488, 'No description', 24),
 (3488, 'Not that great weather', 4),
 (3488, 'OK Weather', 15),
 (3502, 'No description', 23),
 (3502, 'Not that great weather', 7),
 (3502, 'OK Weather', 17),
 (3503, 'Bad weather', 2),
 (3503, 'No description', 24),
 (3503, 'Not that great weather', 6),
 (3503, 'OK Weather', 8),
 (3507, 'Bad weather', 5),
 (3507, 'No description', 24),
 (3507, 'Not that great weather', 10),
 (3507, 'OK Weather', 10),
 (3520, 'No description', 24),
 (3520, 'OK Weather', 16),
 (3522, 'Bad weather', 3),
 (3522, 'No description', 24),
 (3522, 'Not that great weather', 2),
 (3522, 'OK Weather', 20),
 (3529, 'Bad weather', 2),
 (3529, 'No description', 24),
 (3529, 'Not that great weather', 2),
 (3529, 'OK Weather', 16),
 (3535, 'Bad weather', 1),
 (3535, 'No description', 24),
 (3535, 'Not that great weather', 3),
 (3535, 'OK Weather', 6),
 (3544, 'No description', 24),
 (3544, 'Not that great weather', 2),
 (3544, 'OK Weather', 14),
 (3560, 'Bad weather', 2),
 (3560, 'No description', 24),
 (3560, 'Not that great weather', 4),
 (3560, 'OK Weather', 11),
 (3590, 'Bad weather', 2),
 (3590, 'No description', 24),
 (3590, 'Not that great weather', 3),
 (3590, 'OK Weather', 11),
 (3604, 'No description', 24),
 (3604, 'OK Weather', 14),
 (3605, 'No description', 24),
 (3605, 'OK Weather', 17),
 (3609, 'No description', 24),
 (3647, 'No description', 24),
 (3647, 'OK Weather', 1),
 (3649, 'Bad weather', 5),
 (3649, 'No description', 24),
 (3649, 'Not that great weather', 8),
 (3649, 'OK Weather', 1),
 (3658, 'No description', 24),
 (3658, 'OK Weather', 1),
 (3660, 'Bad weather', 5),
 (3660, 'No description', 24),
 (3660, 'Not that great weather', 4),
 (3672, 'No description', 24),
 (3672, 'Not that great weather', 3),
 (3672, 'OK Weather', 3),
 (3680, 'No description', 24),
 (3684, 'Bad weather', 4),
 (3684, 'No description', 24),
 (3684, 'Not that great weather', 5),
 (3693, 'No description', 24),
 (3693, 'Not that great weather', 3),
 (3693, 'OK Weather', 2),
 (3707, 'Bad weather', 2),
 (3707, 'No description', 24),
 (3707, 'Not that great weather', 6),
 (3707, 'OK Weather', 2),
 (3710, 'No description', 24),
 (3710, 'OK Weather', 1),
 (3716, 'Bad weather', 3),
 (3716, 'No description', 24),
 (3716, 'Not that great weather', 5),
 (3716, 'OK Weather', 3),
 (3740, 'No description', 24),
 (3743, 'No description', 24),
 (3743, 'Not that great weather', 2),
 (3746, 'Bad weather', 1),
 (3746, 'No description', 24),
 (3746, 'Not that great weather', 12),
 (3749, 'No description', 24),
 (3749, 'Not that great weather', 3),
 (3761, 'Bad weather', 1),
 (3761, 'No description', 23),
 (3761, 'Not that great weather', 10),
 (3761, 'OK Weather', 1),
 (3768, 'No description', 24),
 (3769, 'No description', 24),
 (3769, 'Not that great weather', 5),
 (3772, 'Bad weather', 1),
 (3772, 'No description', 24),
 (3772, 'Not that great weather', 5),
 (3772, 'OK Weather', 2),
 (3781, 'Bad weather', 2),
 (3781, 'No description', 24),
 (3781, 'Not that great weather', 4),
 (3781, 'OK Weather', 2),
 (3796, 'No description', 24),
 (3797, 'No description', 24),
 (3797, 'OK Weather', 1),
 (3803, 'Bad weather', 1),
 (3803, 'No description', 24),
 (3803, 'Not that great weather', 1),
 (3803, 'OK Weather', 2),
 (3808, 'Bad weather', 3),
 (3808, 'No description', 24),
 (3808, 'Not that great weather', 9),
 (3809, 'No description', 24),
 (3809, 'OK Weather', 1),
 (3823, 'Bad weather', 4),
 (3823, 'No description', 22),
 (3823, 'Not that great weather', 14),
 (3823, 'OK Weather', 1),
 (3827, 'No description', 23),
 (3827, 'Not that great weather', 8),
 (3827, 'OK Weather', 1),
 (3840, 'Bad weather', 2),
 (3840, 'No description', 23),
 (3840, 'Not that great weather', 4),
 (3844, 'No description', 24),
 (3844, 'OK Weather', 2),
 (3853, 'No description', 24),
 (3853, 'Not that great weather', 1),
 (3857, 'No description', 24),
 (3857, 'Not that great weather', 6),
 (3857, 'OK Weather', 1),
 (3862, 'Bad weather', 1),
 (3862, 'No description', 24),
 (3862, 'Not that great weather', 5),
 (3866, 'No description', 24),
 (3872, 'No description', 24),
 (3876, 'No description', 24),
 (3882, 'Bad weather', 1),
 (3882, 'No description', 24),
 (3882, 'Not that great weather', 4),
 (3894, 'No description', 24),
 (3894, 'Not that great weather', 14),
 (3895, 'Bad weather', 2),
 (3895, 'No description', 24),
 (3895, 'Not that great weather', 2),
 (3904, 'Bad weather', 6),
 (3904, 'No description', 23),
 (3904, 'Not that great weather', 3),
 (3904, 'OK Weather', 8),
 (3907, 'No description', 22),
 (3907, 'Not that great weather', 10),
 (3907, 'OK Weather', 10),
 (3911, 'Bad weather', 4),
 (3911, 'No description', 24),
 (3911, 'Not that great weather', 6),
 (3911, 'OK Weather', 7),
 (3916, 'Bad weather', 1),
 (3916, 'No description', 20),
 (3916, 'Not that great weather', 4),
 (3916, 'OK Weather', 12),
 (3917, 'No description', 24),
 (3917, 'Not that great weather', 4),
 (3917, 'OK Weather', 15),
 (3923, 'Bad weather', 1),
 (3923, 'No description', 23),
 (3923, 'Not that great weather', 8),
 (3923, 'OK Weather', 11),
 (3952, 'Bad weather', 1),
 (3952, 'No description', 24),
 (3952, 'Not that great weather', 9),
 (3952, 'OK Weather', 4),
 (3953, 'No description', 24),
 (3953, 'Not that great weather', 12),
 (3953, 'OK Weather', 6),
 (3976, 'No description', 24),
 (3976, 'Not that great weather', 11),
 (3976, 'OK Weather', 3),
 (3980, 'No description', 23),
 (3980, 'Not that great weather', 7),
 (3980, 'OK Weather', 13),
 (99057, 'No description', 24),
 (99060, 'No description', 24),
 (99081, 'Bad weather', 4),
 (99081, 'No description', 24),
 (99081, 'Not that great weather', 9),
 (99081, 'OK Weather', 2),
 (99142, 'No description', 24)]

## Views
A view is a virtual table that appears in the database like any other normal
table
- However a view is essentially a saved `SELECT` statement
- We say it’s a virtual table as it doesn’t take up any space.
- A `SELECT *` query on the view will basically trigger the saved SQL SELECT
statement behind the curtain
- We mainly use views for security purposes.
  + This is when we don’t want to give someone access to the whole table
(or multiple tables) and we just give them access to a View.
  + Another reason is when we want to explore the output of a complex SQL
query. In that case we may choose to create a view of that query and then
query that view instead.
- To create a view:
```sql
CREATE VIEW <view_name> AS SELECT...
```
- To drop a view:
```sql
DROP VIEW <view_name>
```

## Example 5
Create `windy_records` view that shows the number of windy records `(windspeed >= 50)` per day ordered by the number of windy records. Display and then drop the view.
### Hint
- Tables: metoffice_dailyweatherdata;
- Information:
  + `obs_date`
  + `number_of_windy_records`, use `SUM` to sum the values of `IFF` on windspeed to construct it.
- Conditions: No
- Any Groups?
  + obs_date
- Descending order by number of records.

In [ ]:
%%sql
CREATE VIEW windy_records AS
  SELECT
    obs_date,
    SUM(IIF (windspeed >= 50, 1, 0) )
      AS number_of_windy_records
  FROM metoffice_dailyweatherdata daily
  GROUP BY obs_date;
SELECT * FROM windy_records ORDER BY number_of_windy_records DESC;

 * sqlite:///weather.db
Done.
Done.

[('2020-01-02', 40), ('2020-01-01', 17), ('2020-01-03', 17), ('2020-01-04', 6)]

In [ ]:
%%sql
DROP VIEW windy_records;

 * sqlite:///weather.db
Done.

[]

# Exercises
MySQL can open multiple databases so we need to specify the name of the database (e.g. `DATABASE_NAME.TABLE_NAME`).
But `SQLite` (the SQL database that we use in this notebook) opens only one database at a time and we don't use the name of the database. As an example the table `cat_regions` is:
- **MySQL**: `weather_db.cat_regions`
- **SQLite**: `cat_regions`

## Exercise 1
Using tables `metoffice_dailyweatherdata` and `cat_locations` create a view called `carlisle_max_temperature` that contains the max temperature for Carlisle per time of day (morning `(time <12)`, afternoon `(time>=12 and time <18)`, evening `(time >=18)`).
The resulting view should contain two columns: `time_of_day` (morning, afternoon, evening), and `max_tempreture`.

###Hint
- Tables: “metoffice_dailyweatherdata” and “cat_locations”
- Information:
  + “time_of_day” (morning, afternoon, evening) --- Case/WHEN of IIF
  + “max_tempreture” --- MAX();
  + to get the hour as string for a given time
    - `strftime ('%H',obs_time)`
  + to compare with a number we need to cast it (e.g. convert to integer):
    - `CAST( strftime ('%H',obs_time) as INT)`
- Relationship between tables: location ID
- Conditions in WHERE: 'Carlisle'
- Any Groups? Yes, “time_of_day”.

In [21]:
%%sql
SELECT * FROM cat_locations WHERE Location = 'Carlisle'

 * sqlite:///weather.db
Done.

[(3220, 'Carlisle', None, None, 'nw', 'North West', 54.933, -2.963, 'Europe', 28.0, '', 'Cumbria'),
 (350766, 'Carlisle', None, None, 'nw', 'North West', 54.8924, -2.9315, 'Europe', 21.0, '', 'Cumbria')]

In [12]:
%%sql
SELECT * FROM metoffice_dailyweatherdata l

 * sqlite:///weather.db
Done.

[(3002, '2020-01-01 00:00:00', '2020-01-01', '00:00:00', 7.5, 21, 84.0, 5.0, 1018, 32, 13000, 'NULL', 'F', '2020-01-01 06:00:03', '0', '0', '0', '8'),
 (3002, '2020-01-01 01:00:00', '2020-01-01', '01:00:00', 7.5, 22, 81.7, 4.6, 1018, 34, 12000, 'NULL', 'F', '2020-01-01 06:00:03', '0', '0', '0', '8'),
 (3002, '2020-01-01 02:00:00', '2020-01-01', '02:00:00', 7.9, 24, 79.9, 4.7, 1017, 36, 11000, 'NULL', 'F', '2020-01-01 06:00:03', '0', '0', '0', '8'),
 (3002, '2020-01-01 03:00:00', '2020-01-01', '03:00:00', 7.5, 23, 82.3, 4.7, 1016, 40, 13000, 'NULL', 'F', '2020-01-01 06:00:03', '0', '0', '0', '8'),
 (3002, '2020-01-01 04:00:00', '2020-01-01', '04:00:00', 8.0, 18, 84.6, 5.6, 1015, 33, 12000, 'NULL', 'F', '2020-01-01 06:00:03', '0', '0', '0', '8')]

In [22]:
%%sql
CREATE VIEW carlisle_max_temprature AS
SELECT
CASE
WHEN CAST(strftime('%H , obs_time') AS INT)<12 THEN 'MORNING'
WHEN CAST(strftome('%H , obs_tome') AS INT)>=18 THEN 'EVENING'
ELSE 'AFTERNONE'
END
AS time_of_day,
MAX(temperature) AS max_temprature
FROM metoffice_dailyweatherdata as daily
INNER JOIN
cat_locations as loc
ON daily.locationID = loc.locationID
WHERE loc.Location = 'Carlisle'
GROUP BY time_of_day

 * sqlite:///weather.db
Done.

[]

## Exercise 2
Based on table `metoffice_dailyweatherdata`, create a view called
`high_pressure_percentages` that returns how many cases on average we observed
pressure above 1020 per day, i.e. a percentage of cases that are classified as  above 1020.

Your resulting view should contain `obs_date` (observation date), and
`avg_high_pressure`. Note that you ou should work on those pressures which are not null.
### Hint
- Tables: “metoffice_dailyweatherdata”
- Information:
  + “obs_date” directly from “metoffice_dailyweatherdata”
  + “avg_high_pressure” --- AVG(IF or case when);
- Relationship between tables: no
- Conditions in WHERE: pressure IS NOT NULL
- Any Groups? Yes, “obs_date”.

In [23]:
%%sql
CREATE VIEW high_pressure_persentages AS
SELECT
obs_date,
AVG(IIF(pressure > 1020 , 1 , 0)) AS avg_high_pressure
FROM metoffice_dailyweatherdata
WHERE Pressure IS NOT NULL
GROUP BY obs_date;

 * sqlite:///weather.db
Done.

[]

## Exercise 3
Create a view called `rainy_snowy` that for each station returns a `0/1` flag if there was at least one rainy hour gives `1` otherwise `0`; and one similar `0/1` flag if there was at least one snowy hour gives `1` otherwise `0`.

You need to use table `metoffice_dailyweatherdata` and `weatherType`. The
resulting view should contain three columns: `locationID`,
`at_least_one_rainy_hour`, and `at_least_one_snowy_hour`.

### Hint
- Tables: “metoffice_dailyweatherdata” and “weatherType”
- Information:
  + You can use the `LIKE` statement to match `%rain%` or `%snow%` weather.
  + “locationID” directly from “metoffice_dailyweatherdata”
  + “at_least_one_rainy_hour” --- MAX(), IIF or CASE WHEN, LIKE
  + “at_least_one_snowy_hour” --- MAX(), IIF or CASE WHEN, LIKE
- Relationship between tables:
  + `metoffice_dailyweatherdata.weatherType = weatherType.weatherTypeID`
- Conditions in WHERE: no
- Any Groups?
  + Yes, “LocationID” from “metoffice_dailyweatherdata”.

In [53]:
%%sql
CREATE VIEW rainy_snowy AS
  SELECT
    MAX(IIF(wt.weatherType Like '%rain%' , 1 , 0)) AS at_least_one_rainy_hour,
    MAX(IIF(wt.weatherType Like '%snow%' , 1 , 0)) AS at_least_one_snowy_hour,
    daily.locationID
FROM
    metoffice_dailyweatherdata as daily
INNER JOIN
    weatherType as wt ON daily.weatherType = wt.weatherTypeID
GROUP BY daily.LocationID;
SELECT * from rainy_snowy limit 10;

 * sqlite:///weather.db
Done.
Done.

[(1, 0, 3002),
 (1, 1, 3005),
 (1, 1, 3008),
 (1, 0, 3017),
 (1, 0, 3023),
 (1, 0, 3026),
 (1, 0, 3031),
 (1, 0, 3034),
 (0, 0, 3039),
 (1, 0, 3044)]

In [52]:
%%sql
DROP VIEW rainy_snowy;

 * sqlite:///weather.db
Done.

[]

## Exercice 4
Create a view called `snow_weather_station_counts` which counts the number of
weather stations that had at least one snowy hour vs none. You need to work on the view created in exercise 3. The resulting view should contain two columns
`snow_counts` and `number_of_locations`.

### Hint
- Tables: “rainy_snowy” (view)
- Information:
  + “snow_counts” --- IIF() or CASE WHEN
  + “number_of_locations” --- COUNT(), DISTINCT()
- Relationship between tables: no
- Conditions in WHERE: no
- Any Groups?
  + Yes, “snow_counts”

In [33]:
%%sql
CREATE VIEW snow_weather_station_counts AS
SELECT
CASE
WHEN at_least_one_snowy_hour = 0 THEN 'no_snow_hour'
ELSE 'at_least_one_snow_hour'
END
AS snow_counts,
COUNT(DISTINCT LocationID) AS Number_of_Locations
FROM rainy_snowy
GROUP BY snow_counts

 * sqlite:///weather.db
Done.

[]

In [58]:
%%sql
SELECT * from snow_weather_station_counts limit 10;

 * sqlite:///weather.db
Done.

[('at_least_one_snow_hour', 2), ('no_snow_hour', 138)]

## Exercise 5
Create a view known as `rain_or_snow_weather_station` that can:
- Give the weather categories based on weather rainy or snowy.
  + If there is **no snowy or rainy hours** the weather category should be set as `"No rain or snow"`.
  + **Otherwise**, the weather category should be set as `"Either rain or snow"`.
- For each weather category, count the number of weather stations.
Please working on the view obtained from exercise 3. The resulting view should
contain two columns: “weather_categorisation” and “number_of_stations”.

### Hint
- Tables: “rainy_snowy” (view)
- Information:
  + “weather_categorisation” --- IIF() or CASE WHEN
  + “number_of_stations” --- COUNT(), DISTINCT()
- Relationship between tables: no
- Conditions in WHERE: no
- Any Groups?
  + Yes, “weather_categorisation”.

In [57]:
%%sql
CREATE VIEW rain_or_snow_weather_station AS
SELECT
CASE
WHEN at_least_one_rainy_hour + at_least_one_snowy_hour = 0 THEN 'NO rain or snow'
ELSE 'Either rain or snow'
END
AS weather_categorisation,
COUNT(DISTINCT locationID) AS Number_of_stations
FROM rainy_snowy
GROUP BY
weather_categorisation;
SELECT * from rain_or_snow_weather_station limit 10;

 * sqlite:///weather.db
Done.
Done.

[('Either rain or snow', 95), ('NO rain or snow', 45)]